.contact-container {
    text-align: center;
    padding: 20px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
    
  }
  
  .team-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .team-member {
    max-width: 200px;
    margin: 20px;
    text-align: center;
  }
  
  .profile-pic {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  