.OrderHistoryContainer {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .MyAcc {
    width: 500px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px; /* Add space around the image */
    display: block; 
}

  .HeaderRow {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.OrderRow {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px; 
    width: 100%; 
}

.OrderHistory {
    margin: 0;
}

  .NewOrderButton {
    background-color: #244679; 
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer; 
    font-size: 1.2rem; 
    margin-bottom: 40px;
    margin-left: auto;
    display: block; 
    width: fit-content; 
    transition: background-color 0.3s; 
  }
  
  .NewOrderButton:hover {
    background-color: #4e9feb; 
  }
  
  .LeffesLogo {
    width: 550px; 
  }

  .OrderHistory h2 {
    font-size: 1.8rem; 
    margin-bottom: 20px; 
    text-align: left; 
    color: #555; 
    border-bottom: 2px solid #ccc; 
    padding-bottom: 10px; 
  }
  
  .OrderTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .OrderTable th,
  .OrderTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .OrderTable th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .OrderTable tr:hover {
    background-color: #f1f1f1; 
  }
  
  .ViewDetailsButton {
    background-color: #244679;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .ViewDetailsButton:hover {
    background-color: #4e9feb;
  }
  