.OrderHistoryContainer {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .AccountHeader {
    font-size: 2.8rem; 
    margin-top: 25px;
    margin-bottom: 100px; 
    color: #244679;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(120, 176, 228, 0.87);
  }

  .NewOrderButton {
    background-color: #244679; /* Green background color */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding inside the button */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 1.2rem; /* Font size */
    margin-bottom: 40px; /* Space below the button */
    display: block; /* Make the button a block element */
    width: fit-content; /* Adjust width to fit content */
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  
  .NewOrderButton:hover {
    background-color: #4e9feb; /* Darker green on hover */
  }
  
  
  .OrderHistory h2 {
    font-size: 1.8rem; /* Font size for the h2 header */
    margin-bottom: 20px; /* Space below the h2 header */
    text-align: left; /* Left-align the h2 header */
    color: #555; /* Dark gray color for the h2 header */
    border-bottom: 2px solid #ccc; /* Add a bottom border */
    padding-bottom: 10px; /* Space below the text before the border */
  }
  
  .OrderTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .OrderTable th,
  .OrderTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .OrderTable th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .OrderTable tr:hover {
    background-color: #f1f1f1; /* Highlight row on hover */
  }
  
  .ViewDetailsButton {
    background-color: #244679;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .ViewDetailsButton:hover {
    background-color: #4e9feb;
  }
  