/* Sales.css */
.table-container {
    padding: 20px;
    margin-top: 60px;    
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}

.SalesImg {
    width: 800px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 170px; 
    display: block; 
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

thead {
    background-color: #244679;
    color: white;
}

thead th {
    padding: 12px;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9e9e9;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #244679; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4e9feb;
}
