.Header {
  display: flex;
  justify-content: center; /* Centers horizontally */
}


.Meat {
  position: absolute;
  left: 30%;

}

.Vegetarian {
  position: absolute;
  right: 30%;

}

.SubmitButton {
  position: absolute;
  top: 90%;
  left: 41%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 200px;
  height: 50px;

}

.BuyButton {
  position: absolute;
  top: 90%;
  left: 53%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 200px;
  height: 50px;

}


.Results {
  position: absolute;
  left: 200px;
  outline: 3px solid black;
  outline-offset: 15px;

}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
